<ng-container>
  <mat-grid-list cols="12" rowHeight="3:12">

    <mat-grid-tile colspan="3" *ngFor="let r of reportList">
      <mat-card class="card-width">
        <mat-card-header>
          <div mat-card-avatar class="card-header-image"></div>
          <mat-card-title>{{r.reportName}}</mat-card-title>
          <mat-card-subtitle>Report Type : {{r.reportType}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="reportTypeParam.get(r.reportType)" alt="Photo of a report type">
        <mat-card-content>
          <p class="text" [matTooltip]="r.reportQuery" (click)="openBottomSheet(r.reportQuery);">
            {{r.reportQuery}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-flat-button color="primary">EDIT</button>
          <button mat-flat-button color="accent" routerLink="/report-design">DESIGN</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>


  </mat-grid-list>
</ng-container>

