.card-width {
  max-width: 400px;
}

.card-header-image {
  background-image: url('/assets/report-icon.jpg');
  background-size: cover;
}

.text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

button {
  margin: 10px;
}
