<ng-container>
  <mat-grid-list cols="12" rowHeight="3:40">

    <mat-grid-tile colspan="1"></mat-grid-tile>
    <mat-grid-tile colspan="2">
      <div class="example-container">
        <h2>All Columns</h2>

        <div
          cdkDropList
          #allList="cdkDropList"
          [cdkDropListData]="allColumns"
          [cdkDropListConnectedTo]="[selectList]"
          class="example-list"
          (cdkDropListDropped)="drop($event)">
          <div class="example-box" *ngFor="let item of allColumns" cdkDrag>{{item.fieldName}}</div>
        </div>
      </div>
    </mat-grid-tile>

    <mat-grid-tile colspan="2">
      <div class="example-container">
        <h2>Selected Columns</h2>

        <div
          cdkDropList
          #selectList="cdkDropList"
          [cdkDropListData]="selectedColumns"
          [cdkDropListConnectedTo]="[allList]"
          class="example-list"
          (cdkDropListDropped)="drop($event)">
          <div class="example-box" *ngFor="let item of selectedColumns" cdkDrag>{{item.fieldName}}</div>
        </div>
      </div>
    </mat-grid-tile>

    <mat-grid-tile colspan="7">
      <div class="mat-elevation-z8 table-width">
        <h2>Example Data</h2>
        <table mat-table [dataSource]="dataSource">
          <ng-container *ngFor="let c of displayedColumns" [matColumnDef]="c">
            <th mat-header-cell *matHeaderCellDef> {{c}} </th>
            <td mat-cell *matCellDef="let element"> {{element[c]}} </td>
          </ng-container>


          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        <button mat-flat-button color="primary"><mat-icon>get_app</mat-icon> PDF</button>
        <button mat-flat-button color="accent"><mat-icon>get_app</mat-icon>EXCEL</button>
      </div>
    </mat-grid-tile>

  </mat-grid-list>
</ng-container>

